<!DOCTYPE html>
<html lang="en">
<body>
<h1>saved you a click</h1>
<form>
  <input type="text" name="spoiler" placeholder="post spoiler"/>
  <input type="text" name="url" placeholder="article url" />
  <button type="submit">submit</button>
</form>
<pre>{{ reddit }}</pre>
</body>

</html>